body {
  margin: 0;
  padding: 0;
  font-family: 'ArimaMadurai-Regular', sans-serif;
}

@font-face {
  font-family: 'IrishGrover-Regular';
  src: url(../FONT/irish-grover/IrishGrover-Regular.ttf);
}

@font-face {
  font-family: 'ArimaMadurai-Regular';
  src: url(../FONT/arima-madurai/ArimaMadurai-Regular.ttf);
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  color: #3d2e1e;
  position: relative;
}

h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #bfa27a;
  margin: 10px auto 0;
  border-radius: 2px;
}

hr {
  border: none;
  height: 2px;
  background-color: #bfa27a;
  width: 90%;
  margin: 30px auto;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 80px;
  gap: 40px;
}

.texto {
  flex: 2;
  font-size: 1.5rem;
  padding-right: 20px;
}

.extra {
  display: none;
  margin-top: 10px;
}

.ver-mas-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
  background-color: #bfa27a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  gap: 8px;
  transition: background 0.3s ease;
  margin-top: 15px;
  margin-left: 20px;
}

.ver-mas-btn:hover {
  background-color: #a58e68;
}

.ver-mas-btn svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.caja-lateral {
  flex: 1;
  background: linear-gradient(to bottom right, #e9dcc8, #f3ede3);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.caja-lateral img {
  width: 120%;
  margin-left: -10%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}

.caja-lateral p {
  font-size: 0.95rem;
  color: #3d2e1e;
  padding: 2rem;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 20px;
  }

  .texto {
    padding-right: 0;
  }
}